body {
	padding: 5px 20px;
	line-height: 1.4;
	font-size: 16px;
	max-width: 700px;
	margin: 0 auto;
	word-wrap: break-word;
}

.post p img {
	width: 78%;
	margin-left: 11%;
}

.post figure img {
	width: 78%;
	margin-left: 11%;
}

.post-list p {
	margin: 0;
}

figcaption {
	text-align: center;
	font-size: 14px;
	line-height: 1;
}
